<!DOCTYPE html>
<html>
<head>
  <title>Estagio2</title>



<link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">


</head>
<body>
  <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      </ul>
    </div>
  </div>
</div>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="container" width ="600" >
                      MyCupManager 2015
    </div>
  </footer>
</body>
</html>
